* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(31, 31, 31);
  padding: 0;
  margin: 100px;
}

h1 {
  font-weight: bold;
  color: aliceblue;
}

a, p {
  font-style: none;
  color: aliceblue
}

p {
  font-size: 1.2em;
}

button {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

/* center .top-nav and remove style from list items */
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 50px;
}

.top-nav > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav > ul > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2em;
  margin: 0 20px;
}

.top-nav > ul > li > a:hover {
  color: rgb(68, 145, 222);
}

.top-nav > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quote-container {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  position: relative;
}

.poetry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* use flex to make .poem-img and .poem-text sit next to each other */
.poem-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.poem-img {
  width: 55%;
  max-width: 500px;
  margin-right: 5%;
}

.poem-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poem-meta {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  margin: 0 20px;
}

.poem-meta > h1 {
  font-size: 2em;
}

.poem-date {
  font-size: .9em;
  color: rgb(68, 145, 222);
  margin: 0;
}

.poem-title {
  font-size: 3em;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

/* center .poem-container and make it responsive */

.poem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}